@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
  --primary-font: "Inter", sans-serif;
  --secondary-font: "Roboto", sans-serif;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #f7fafc;
}

.container {
  max-width: 1200px;
  padding: 0 10px;
  margin: 0 auto;
}

nav {
  background: #fdfdfd;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
}

.navbar__logo {
  display: flex;
  align-items: center;
  gap: 6.21px;
}

.navbar__search {
  display: flex;
  align-items: center;
}

.navbar__search input {
  width: 421px;
  padding: 11px;
  border: 2px solid #0d6efd;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  border-right: 1px solid #0d6efd;
}

.navbar__search-category {
  display: flex;
  align-items: center;
  padding: 7px;
  column-gap: 10px;
  border: 2px solid #0d6efd;
  border-left: none;
  border-right: none;
}

.navbar__search-btn {
  font-family: var(--primary-font);
  font-weight: 500;
  font-size: 16px;
  padding: 11px;
  border: none;
  background: #0d6efd;
  color: #fff;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  transition: all 0.3s linear;
  cursor: pointer;
}

.navbar__services {
  display: flex;
  align-items: center;
  column-gap: 23px;
}

.navbar__services-profile,
.navbar__services-message,
.navbar__services-orders,
.navbar__services-cart {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 7px;
  cursor: pointer;
}

.navbar__services-profile span,
.navbar__services-message span,
.navbar__services-orders span,
.navbar__services-cart span {
  color: #8b96a5;
  font-size: 12px;
  font-weight: 400;
  font-family: var(--primary-font);
}

.hero {
  border: 1px solid #8b96a5;
  padding: 14px 0;
}

.categories {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.categories__control {
  display: flex;
  align-items: center;
  column-gap: 6px;
}

.categories__control-text {
  display: flex;
  align-items: center;
  column-gap: 25px;
}

.categories__control-texthelp {
  display: flex;
  align-items: center;
  column-gap: 1px;
}

.categories__control-text span,
.categories__control-texthelp span,
.categories__country-lang span,
.categories__country-shipto span {
  font-family: var(--primary-font);
  font-weight: 500;
  font-size: 16px;
  line-height: 137%;
  color: #1c1c1c;
  text-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.categories__country {
  display: flex;
  align-items: center;
  column-gap: 32px;
}

.categories__country-lang,
.categories__country-shipto {
  display: flex;
  align-items: center;
  column-gap: 3px;
  cursor: pointer;
}

.electronic {
  display: flex;
  padding: 20px 20px 20px 14px;
  column-gap: 11px;
  border: 1px solid #bdc4cd;
  margin-top: 27px;
  border-radius: 6px;
}

.electronic__category {
  display: flex;
  flex-direction: column;
}

.electronic__category span {
  width: 250px;
  padding: 10px;
  font-family: var(--primary-font);
  font-weight: 500;
  font-size: 16px;
  color: #1c1c1c;
  transition: all 0.4s ease-in-out;
  cursor: pointer;
}

.electronic__category span:hover {
  background: #e5f1ff;
  border-radius: 6px;
}

.electronic__trending {
  background: url("../images/hero-bg.png");
  padding: 53px 367px 177px 46px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 17px;
}

.electronic__trending-text h3 {
  font-family: var(--primary-font);
  font-weight: 400;
  font-size: 28px;
  color: #1c1c1c;
}

.electronic__trending-text h1 {
  font-family: var(--primary-font);
  font-weight: 700;
  font-size: 32px;
  color: #1c1c1c;
}

.electronic__trending button {
  padding: 10.5px 16px;
  border: none;
  border-radius: 6px;
  color: #1c1c1c;
  box-shadow: 0 1px 2px 0 rgba(56, 56, 56, 0.08);
  background: #fff;
  font-weight: 500;
  font-size: 14px;
  transition: all 0.3s ease-in;
}

.electronic__trending button:hover {
  background: transparent;
  border: none;
  color: #0d6efd;
  border: 1px solid #0d6efd;
}

.electronic__user {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.electronic__user-profile {
  display: flex;
  flex-direction: column;
  row-gap: 13px;
  background: #e3f0ff;
  padding: 14px 10px 12px 10px;
  border-radius: 6px;
}

.electronic__user-profile div {
  display: flex;
  align-items: center;
  column-gap: 9px;
}

.electronic__user-profile div span {
  font-family: var(--primary-font);
  font-weight: 400;
  font-size: 16px;
  color: #1c1c1c;
}

.electronic__user-profilejoin {
  background: #0d6efd;
  color: #fff;
  padding: 7px 62px;
  border-radius: 6px;
  border: none;
  font-family: var(--primary-font);
  font-weight: 500;
  font-size: 13px;
  transition: all 0.3s ease-out;
}

.electronic__user-profilejoin:hover {
  background: transparent;
  color: #0d6efd;
  border: 1px solid #0d6efd;
}

.electronic__user-profilelog {
  background: #fff;
  color: #0d6efd;
  padding: 7px 62px;
  border-radius: 6px;
  border: none;
  font-family: var(--primary-font);
  font-weight: 500;
  font-size: 13px;
  transition: all 0.3s ease-out;
  border: 1px solid #dee2e7;
}

.electronic__user-profilelog:hover {
  background: #0d6efd;
  color: #fff;
}

.electronic__user-delivery {
  background: #f38332;
  padding: 16px 40px 22px 16px;
  border-radius: 6px;
}

.electronic__user-delivery span,
.electronic__user-preference span {
  font-family: var(--primary-font);
  font-weight: 400;
  font-size: 16px;
  color: #fff;
}

.electronic__user-preference {
  background: #55bdc3;
  padding: 16px 40px 22px 16px;
  border-radius: 6px;
}

.offers {
  border: 1px solid #dee2e7;
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  background: #fff;
  border-radius: 6px;
  margin-bottom: 20px;
}

.offers__title {
  display: flex;
  flex-direction: column;
  padding: 20px 63px 20px 20px;
  border-right: 1px solid #dee2e7;
}

.offers__title h3 {
  font-family: var(--primary-font);
  font-weight: 600;
  font-size: 20px;
  line-height: 140%;
  letter-spacing: -0.01em;
  color: #1c1c1c;
}

.offers__title span {
  font-family: var(--primary-font);
  font-weight: 400;
  font-size: 16px;
  color: #8b96a5;
}

.offers__title-time {
  display: flex;
  column-gap: 6px;
  margin-top: 18px;
}

.offers__title-timedays {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 8px;
  background: #606060;
  border-radius: 4px;
}

.offers__title-timedays h2 {
  font-family: var(--primary-font);
  font-weight: 700;
  font-size: 16px;
  color: #fff;
}

.offers__title-timedays span {
  font-family: var(--primary-font);
  font-weight: 400;
  font-size: 12px;
  color: #fff;
}

.offers__watch {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 8px 19px 17px 20px;
  border-right: 1px solid #dee2e7;
  cursor: pointer;
}

.offers__watch p {
  margin-top: 11px;
  font-family: var(--primary-font);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.01em;
  color: #1c1c1c;
}

.offers__watch span {
  margin-top: 7px;
  padding: 5px 13px;
  background: #ffe3e3;
  border-radius: 29px;
  font-family: var(--primary-font);
  font-weight: 500;
  font-size: 14px;
  letter-spacing: -0.01em;
  color: #eb001b;
}

.home {
  display: flex;
  border: 1px solid #e0e0e0;
  border-bottom: none;
  border-radius: 6px;
  margin-bottom: 20px;
  justify-content: space-between;
}

.home__title {
  background: url("../images/outdoor-bg.png");
  padding: 20px 138px 127px 20px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  row-gap: 18px;
}

.home__title span {
  font-family: var(--primary-font);
  font-weight: 600;
  font-size: 20px;
  line-height: 130%;
  letter-spacing: -0.01em;
  color: #1c1c1c;
}

.home__title button {
  padding: 10.5px 16px;
  border: 1px solid #fff;
  border-radius: 6px;
  box-shadow: 0 1px 2px 0 rgba(56, 56, 56, 0.08);
  background: #fff;
  font-family: var(--primary-font);
  font-weight: 500;
  font-size: 14px;
  color: #1c1c1c;
  transition: all 0.4s ease-in;
  cursor: pointer;
}

.home__title button:hover {
  background: transparent;
  border: 1px solid #127fff;
  color: #127fff;
}

.home__chairs {
  display: flex;
  flex-direction: column;
  background: #fff;
}

.home__chairs-soft {
  padding-top: 20px;
  padding-left: 16px;
  display: flex;
  column-gap: 20px;
  border-bottom: 1px solid #e0e0e0;
  border-right: 1px solid #e0e0e0;
  padding-bottom: 8px;
}

.home__chairs-soft img {
  display: flex;
  padding-top: 20px;
  padding-bottom: 0;
}

.home__chairs-softchair p {
  font-family: var(--primary-font);
  font-weight: 400;
  font-size: 16px;
  color: #1c1c1c;
}

.home__chairs-softchair span {
  font-family: var(--primary-font);
  font-weight: 400;
  font-size: 13px;
  color: #8b96a5;
}

.request {
  height: 420px;
  background: url("../images/request-bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-clip: inherit;
  padding: 30px 31px 44px 40px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.request__title {
  width: 440px;
  display: flex;
  flex-direction: column;
  row-gap: 13px;
}

.request__title h3 {
  font-family: var(--primary-font);
  font-weight: 600;
  font-size: 32px;
  letter-spacing: -0.01em;
  color: #fff;
}

.request__title p {
  font-family: var(--primary-font);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.01em;
  color: #fff;
}

.request__quote {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 20px;
  padding: 22px 31px 25px 20px;
  background: #fff;
  border-radius: 6px;
  fill: #fff;
  box-shadow: 0 1px 2px 0 rgba(56, 56, 56, 0.25);
}

.request__quote h3 {
  font-family: var(--primary-font);
  font-weight: 600;
  font-size: 20px;
  line-height: 140%;
  letter-spacing: -0.01em;
  color: #1c1c1c;
}

.request__quote-item {
  width: 440px;
  padding: 11px;
  border-radius: 6px;
  border: 1px solid #dee2e7;
}

.request__quote-item::placeholder {
  font-family: var(--primary-font);
  font-weight: 400;
  font-size: 16px;
  color: #1c1c1c;
}

.request__quote textarea {
  width: 440px;
  height: 73px;
  padding: 11px;
  font-family: var(--primary-font);
  font-weight: 400;
  font-size: 16px;
  color: #8b96a5;
  border: 1px solid #dee2e7;
  border-radius: 6px;
  resize: none;
}

.request__quote-quantity {
  display: flex;
  column-gap: 8px;
}

.request__quote-quantity input,
.request__quote-quantity select {
  padding: 11px;
  border: 1px solid #dee2e7;
  border-radius: 6px;
  font-family: var(--primary-font);
  font-weight: 400;
  font-size: 16px;
  color: #1c1c1c;
}

.request__quote button {
  padding: 10.5px 16px;
  background: linear-gradient(180deg, #127fff 0%, #0067ff 100%);
  border: 1px solid transparent;
  color: #fff;
  border-radius: 6px;
  transition: all 0.3s ease-in;
  font-size: 16px;
  font-weight: 400;
  cursor: pointer;
}

.request__quote button:hover {
  background: transparent;
  color: #127fff;
  border: 1px solid #127fff;
  font-size: 16px;
}

.recommended {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
  margin-bottom: 30px;
}

.recommended h3 {
  font-family: var(--primary-font);
  font-weight: 600;
  font-size: 24px;
  line-height: 133%;
  letter-spacing: -0.01em;
  color: #1c1c1c;
}

.recommended__firstline {
  display: flex;
  column-gap: 20px;
}

.recommended__firstline-content {
  border: 1px solid #e0e0e0;
  background: #fff;
  padding: 9px;
  border-radius: 6px;
  cursor: pointer;
}

.recommended__firstline-content img {
  margin-bottom: 14px;
}

.recommended__firstline-content span {
  font-family: var(--primary-font);
  font-weight: 500;
  font-size: 16px;
  line-height: 137%;
  color: #1c1c1c;
  padding-left: 7px;
}

.recommended__firstline-content p {
  margin-top: 3.9px;
  font-family: var(--primary-font);
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: -0.01em;
  color: #8b96a5;
  padding-left: 7px;
}
